@import './reset.scss';

.app-wrapper {
  font-family: 'Fira Sans', sans-serif;

  .home {
    text-align: center;

    h1, h2 {
      letter-spacing: .09em;
      text-transform: uppercase;
    }

    h1 {
      font-size: 3em;
      font-weight: 900;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 15px;
    }

    p, a {
      font-size: 1em;
      font-weight: 300;
      margin-bottom: 15px;
    }
  }
}
