.split-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 5px solid snow;
  display: flex;
  align-items: stretch;

  .left-container {
    height: 100%;
    background: offwhite;
    width: 30%;
    color: #262626;
    text-align: left;
    height: 100vh;
    overflow: scroll;
    padding: 20px 20px 100px 20px;

    h1, h2 {
      margin-bottom: 8px;
    }
    h2 {
      margin-bottom: 20px;
      font-size: .75em;
      text-transform: uppercase;
    }
    h1 {
      font-size: 1.25em;
      margin-bottom: 12px;
      line-height: 1.25em;
    }
    p.main-text {
      margin-bottom: 15px;
      font-size: .9375em;
      line-height: 1.6em;
    }
    p.tools {
      color: #505050;
      margin-bottom: 15px;
      font-size: .75em;
      line-height: 1.6em;

      span {
        font-weight: bold;
      }
    }
  }

  .right-container {
    height: 100%;
    background: snow;
    width: 70%;

    .project-link {
      margin: 0 auto;
      padding: 10px;
      text-align: center;

      a {
        display: inline-block;
        border-bottom: 2px solid black;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p.counter-only {
        padding-top: 28px;
      }
    }

    a.start {
      color: inherit;
      display: block;
      width: 100%;
      img {
        width: 40%;
      }
      p {
        font-size: 2em;
        text-decoration: none;
        color: inherit;
      }
    }

    a.back {
      display: block;
      width: 20px;
      position: absolute;
      left: calc(30% + 20px);
      top: 28px;
    }

    a.next {
      display: block;
      width: 20px;
      position: absolute;
      right: 20px;
      top: 28px;
    }

    img.arrow {
      cursor: pointer;
      display: block;
      width: 100%;
    }

    .wrapper {
      width: 100%;
      height: 100vh;
      overflow: scroll;
      padding: 54px;

      img {
        display: block;
        margin-bottom: 25px;
        width: 100%;
      }
    }
  }
}
